geopandas==0.9.0
imageio==2.9.0
laspy==2.0.2
lxml==4.6.3
mapclassify==2.4.3
pandas==1.3.0
PDAL==2.3.0
pip==19.2.3
py3dep==0.11.1
pygeoogc==0.11.1
python-editor==1.0.4
python-forge==18.6.0
requests-cache==0.7.4
Shapely==1.7.1
simplejson==3.17.3
text-unidecode==1.3
toolz==0.11.1
url-normalize==1.4.3
webencodings==0.5.1